<!DOCTYPE HTML>
<html>
  <head>
    <title>abwesend but alive</title>
    <meta charset="UTF-8"/>
    <meta name=keywords content="Benjamin Fritsch, ben, beanie, beanieboi"/>
    <%= inline_css "abwesend" %>
    <meta name="viewport" content="initial-scale=1.0, width=device-width, height=device-height, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no" />
  </head>
  <body>
    <div class="content">
      <%= yield %>
    </div>
  </body>
</html>
