<div class="padding-2">
  <h1>abwesend but alive - about ben</h1>
</div>
<div>
  <ul class="grid margin-horizontal-auto">
    <li class="grid-item flex flex-column justify-between padding-2">
      <div>
        <h3>Like</h3>
        <p>Crystal Language</p>
        <p>Canon A1</p>
        <p>Lomography</p>
        <p>Web-Performance</p>
      </div>
    </li>
    <li class="grid-item flex flex-column justify-between padding-2">
      <div>
        <h3>Projects</h3>
        <p><a href="">HomeKit Garage Door Opener</a></p>
        <p><a href="https://github.com/beanieboi/ffprober">ffprober</a></p>
        <p><a href="https://github.com/beanieboi/dns_deploy">dnsdeploy</a></p>
        <p><a href="https://www.facebook.com/MHC-290932731007676">Modestly Huge Camera</a></p>
        <p><a href="https://github.com/beanieboi/nginx-buildback-dynamic">Heroku Nginx Buildpack</a></p>
        <p><a href="https://youtu.be/qmNNqVYJl9w?t=51">Elle and the Spooky Arrow</a></p>
        <p><a href="http://www.vienna-rb.at">Former Coach: railsgirls vienna</a></p>
        <p><a href="http://railsgirls.com/vienna.html">Former Organizer: vienna.rb</a></p>
      </div>
    </li>
    <li class="grid-item flex flex-column justify-between padding-2">
      <div>
        <h3>Work</h3>
        <p>Current: none</p>
        <p><a href="https://codeship.com">Codeship</a></p>
        <p><a href="https://www.gigmit.com/">Gigmit</a></p>
        <p>Flying App</p>
        <p><a href="https://lomography.com">Lomography</a></p>
      </div>
    </li>
    <li class="grid-item flex flex-column justify-between padding-2">
      <div>
        <h3>Elsewhere</h3>
        <p><a href="https://twitter.com/beanieboi">Twitter</a></p>
        <p><a href="https://github.com/beanieboi">GitHub</a></p>
        <p><a href="https://instagram.com/beanieboi">Instagram</a></p>
        <p><a href="https://www.linkedin.com/in/benjamin-fritsch-518236b4/">LinkedIn</a></p>
      </div>
    </li>
  </ul>
</div>
