/* Variables */
$title-fontcolor: #CE534D;
$background-color: #DED4B9;
$text-color: #46433A;
$link-color: $text-color;
$cyan-link-color: #64B6B1;
$link-color-hover:  darken($cyan-link-color, 10%);

html, body {
  padding: 20px 0px 20px 0px;
  margin: 0;
  text-align: center;
  font-family: 'Droid Serif';
  background: url("../images/bg.png") repeat scroll 0 0 #E8E8E8;
  background-color: $background-color;
}

@font-face {
  font-family: 'Droid Serif';
  font-style: normal;
  font-weight: normal;
  src: local('Droid Serif'), local('DroidSerif'), url('../fonts/droid-serif.ttf') format('truetype');
}

#page {
  width: 350px;
  text-align: left;
  margin-left: auto;
  margin-right: auto;

  .item {
    padding-bottom: 10px;

    .title {
      text-shadow: lighten($background-color, 10%) 1px 1px 0px;
      font-size: 19px;
      color: $title-fontcolor;
      text-transform: uppercase;
      cursor: default;
    }

    #abwesend {
      font-size: 36px;
    }

    .content {
      font-size: 14px;
      color: $text-color;
      padding-top: 4px;
      padding-left: 8px;
      padding-bottom: 5px;

      .presentation {
        .venue {
          a {
            color: $link-color;
          }
        }
        .topic {
          padding-left: 8px;
          padding-bottom: 8px;
        }
      }
    }

    ul.social {
      padding: 0px;
      list-style: none outside none;
      overflow: hidden;

      li {
        float: left;
        height: 32px;
        margin: 0 2px 0 0;
        width: 32px;

        a {
          height: 32px;
          display: block;
        }

        .twitter {
          background-image: url(../images/twitter.png);
        }
        .facebook {
          background-image: url(../images/facebook.png);
        }
        .tumblr {
          background-image: url(../images/tumblr.png);
        }
      }
    }
  }
}

a {
  &:visited {
    color: $link-color;
  }
  &:hover {
    color: $link-color-hover;
  }
  text-decoration: none;
  color: $link-color;
}
