/* extends Minimalist of Joey Robinson (http://www.techdesigns.co.uk) */
html, body{ padding:20px 0px 20px 0px; margin:0; text-align:center; font-family:verdana; font-size: 13px; background-color:#FFFFFF; } 

#page{ width:900px; text-align:left; margin-left:auto; margin-right:auto;} 

#header{ position:relative; width:900px; margin: 0px; padding: 0px; height:50px; overflow-x:hidden;} 
#header h1{ color:#CCCCCC; position:relative; float:left; margin:0px 0px 0px 250px; width: 650px; padding:0px; font-family:arial; font-weight:bold; font-size:20px; text-transform:uppercase;} 
#header h1 a{ color:#CCCCCC; text-decoration:none;}
#header h1 a:hover{ color:#333333; text-decoration:none;}
#header h2{ color:#999999; position:relative; float:left; clear:left; margin:0px 0px 0px 250px; width: 650px; padding:0px; font-family:arial; font-weight:bold; font-size:14px; text-transform:uppercase;} 


#maincol { float: right; display:inline; position: relative; width:650px; font-family:verdana; font-size: 13px;overflow-x:hidden; text-align:left;}
#maincol h1 { margin:0px 0px 0px 0px; padding:0px; font-family:arial; font-weight:bold; font-size:22px; text-transform:uppercase; clear:both;} 
#maincol h2 { margin:0px 0px 0px 0px; padding:0px; font-family:arial; font-weight:bold; font-size:20px;text-transform:uppercase; clear:both;} 
#maincol h2 a{ color:#CCCCCC; text-decoration:none;} 
#maincol h2 a:hover{ color:#333333;}
#maincol h2.static { color:#CCCCCC; }

#maincol h3 { margin:0px 0px 0px 0px; padding:0px; font-family:arial; font-weight:bold; font-size:18px; text-transform:uppercase; clear:both;} 
#maincol h4 { margin:0px 0px 0px 0px; padding:0px; font-family:arial; font-weight:bold;font-size:16px; text-transform:uppercase; clear:both;} 
#maincol h5 { margin:0px 0px 0px 0px; padding:0px; font-family:arial; font-weight:bold; font-size:14px; text-transform:uppercase; clear:both;} 
#maincol h6 { margin:0px 0px 0px 0px; padding:0px; font-family:arial; font-weight:bold; font-size:12px; text-transform:uppercase; clear:both;} 
#maincol p{ font-size: 13px; line-height:1.7em; clear:left;}
#maincol p a:hover{ color:#333333; color:#333333; text-decoration:none;}
#maincol p a{ color:#333333; }
#maincol a:hover{ color:#333333; color:#333333; text-decoration:none;}
#maincol a{ color:#333333; }
#maincol ul{ color:#333333; font-size: 13px; line-height:1.7em; clear:left;}
#maincol ol{ color:#333333; font-size: 13px; line-height:1.7em; clear:left;}

h2.contentheader{ color:#CCCCCC; cursor: pointer; position:relative; float:left; margin:0px 0px 0px 0px; padding:0px; font-family:arial; font-weight:bold; font-size:20px; text-transform:uppercase; clear:left;} 
h2.contentheader:hover{ color:#333333; }
h2.contentheader:active{ color:#333333; }

.content{clear:both;}

blockquote { margin:20px; padding:8px 8px 8px 15px;}
blockquote p {color:#333333; background-color:inherit; font-size:0.9em; line-height:1.3em;}
label {color:#333333; background-color:inherit; font-size:0.9em; font-weight:bold;}

code {font-size:1.2em; display:block; padding:5px 5px 5px 8px; margin:5px 0 15px 0;}

img.centered {display:block; margin-left:auto; margin-right:auto;}
img.alignright {padding:4px; margin:0 0 2px 7px; display:inline;}
img.alignleft {padding:4px; margin:0 7px 2px 0; display:inline;}
.aligncenter { display: block; margin-left: auto; margin-right: auto;}
.alignright {float:right;}
.alignleft {float:left;}

.divider{height: 25px; width:604px; background: url(img/divider.jpg) top center no-repeat; margin: 10px auto 5px auto;}
.left { border:1px solid #cccccc; float:left; margin:10px 15px 10px 0;}
.right {border:1px solid #cccccc; float:right; margin:10px 0 5px 10px;}
.center {border:1px solid #aaaaaa; margin:5px auto 12px; text-align:center;}
.textright {text-align:right;}
.small {font-size:0.8em;}
.bold {font-weight:bold;}
.hide {display:none;}
.post {margin:0px;}

.box {border: 1px solid #ddd; background-color: #f3f3f3; text-align: center; padding-top: 4px; margin: 10px; -moz-border-radius: 3px; -khtml-border-radius: 3px; -webkit-border-radius: 3px; border-radius: 3px; clear:both;}
.box img { margin: 0; padding: 0; border: 0 none;}

.clearfix:after { content: "."; display: block; height: 0; clear: both; visibility: hidden; } 
.clearfix{display: inline-block;}

/* Hides from IE-mac \*/
* html .clearfix{height: 1%;}
.clearfix{display: block;}
/* End hide from IE-mac */ 