html, body {
  padding: 20px 0px 20px 0px;
  margin: 0;
  text-align: center;
  font-family: 'Droid Serif';
  font-size: 13px;
  background: url("../images/bg.jpg") repeat scroll 0 0 #E8E8E8;
  background-color: #404040;
}

#page{
  width: 350px;
  text-align: left;
  margin-left: auto;
  margin-right:auto;

  .item {
    padding-bottom: 10px;

    span.title:hover {
       color: #333;
    }

    .title {
      text-shadow: white 1px 1px 0px;
      font-size: 18px;
      color: #CCC;
      text-transform: uppercase;
    }

    .content {
      font-size: 13px;
      padding-left: 5px;
      padding-bottom: 5px;
    }

    ul.social {
      padding: 0px;
      list-style: none outside none;
      overflow: hidden;

      li {
        float: left;
        height: 32px;
        margin: 0 2px 0 0;
        width: 32px;

        a {
          height: 32px;
          display: block;
        }

        .twitter {
          background-image: url(../images/twitter.png);
        }
        .facebook {
           background-image: url(../images/facebook.png);
        }
      }
    }
  }
}

a {
  &:visited {
    color: #CCC;
  }
  &:hover {
    color: #333;
  }
  text-decoration: none;
}
