/* Variables */
$title-fontcolor: #A1A1A1;
$title-fontcolor-hover: #333;

html, body {
  padding: 20px 0px 20px 0px;
  margin: 0;
  text-align: center;
  font-family: 'Droid Serif';
  background: url("../images/bg.png") repeat scroll 0 0 #E8E8E8;
  background-color: #404040;
}

@font-face {
  font-family: 'Droid Serif';
  font-style: normal;
  font-weight: normal;
  src: local('Droid Serif'), local('DroidSerif'), url('../fonts/droid-serif.ttf') format('truetype');
}

#page {
  width: 350px;
  text-align: left;
  margin-left: auto;
  margin-right: auto;

  .item {
    padding-bottom: 10px;

    span.title:hover {
       color: $title-fontcolor-hover;
    }

    .title {
      text-shadow: white 1px 1px 0px;
      font-size: 19px;
      color: $title-fontcolor;
      text-transform: uppercase;
      cursor: default;
    }

    #abwesend {
      font-size: 36px;
    }

    .content {
      font-size: 13px;
      padding-top: 4px;
      padding-left: 8px;
      padding-bottom: 5px;

      .presentation {
        .venue {
          a {
            color: darken($title-fontcolor, 20%);
          }
        }
        .topic {
          padding-left: 8px;
          padding-bottom: 8px;
        }
      }
    }

    ul.social {
      padding: 0px;
      list-style: none outside none;
      overflow: hidden;

      li {
        float: left;
        height: 32px;
        margin: 0 2px 0 0;
        width: 32px;

        a {
          height: 32px;
          display: block;
        }

        .twitter {
          background-image: url(../images/twitter.png);
        }
        .facebook {
          background-image: url(../images/facebook.png);
        }
      }
    }
  }
}

a {
  &:visited {
    color: $title-fontcolor;
  }
  &:hover {
    color: $title-fontcolor-hover;
  }
  text-decoration: none;
  color: $title-fontcolor;
}
